@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link" style="color:blueviolet;font-size:2em" asp-area="" asp-controller="Employee" asp-action="Index">EmployeeManagement</a>
</div>
